:root {
  --primary-color: #0059ff;
  --code-color: darkred;
  --code-bg-color: #aaaaaa;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: transparent;

  --primary: #0059ff;
  --primary-gradient: linear-gradient(to top, #0056f4, #0073ff, #0066ff, #0063f8);
  --primary-hover: #005694;
  --primary-active: #144c6c;
  --primary-dark: #0c417d;
  --secondary: #0875ea;
  --placeholder: #848484;
  word-wrap: break-word;
}
pre {
  color: var(--code-color);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  background-color: var(--code-bg-color);
}

.code-block {
  max-height: 100px;
  overflow: auto;
  padding: 8px 7px 5px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 7px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

.parent-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
}

.bg-primary {
  background-color: var(--primary-color);
}

table .dropdown-content a {
  /* color: black; */
}

.pagination li.active {
  background-color: var(--primary-color);
}

table .pill-badges {
  padding: 0.125rem 0.65rem;
  border-radius: 1rem;
  font-size: small;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
}

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--primary);
}

.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: #f2f2f2;
  border-radius: 15% 15% 35% 35%;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid #f2f2f2;
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}
.loader::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  color: #f2f2f2;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
}

th[scope="row"] {
  text-align: center;
}

table .nominal {
  text-align: end;
}

table .nominal.total {
  font-weight: bold;
}

table .nominal::before {
  content: "Rp. ";
  float: left;
  padding-right: 4px;
}

.kop-wrapper {
  display: none;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.kop-wrapper img {
  height: 120px;
  margin: 0 20px;
}

.kop-wrapper h1,
.kop-wrapper h2,
.kop-wrapper h3,
.kop-wrapper h4,
.kop-wrapper h5,
.kop-wrapper h6,
.kop-wrapper p {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

.kop-wrapper h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
}

.kop-wrapper h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.kop-wrapper h5 {
  color: var(--primary);
  text-transform: uppercase;
}

.kop-wrapper p {
  font-size: 0.7rem;
}

.kop-wrapper::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 7px;
  border-radius: 25px;
  background-color: var(--primary-dark);
}

.kop-wrapper div {
  flex: 1;
}

.copyright::before {
  content: "© ";
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 4px;
}

.gmap_iframe {
  height: 100% !important;
}

.footer-meta a {
  color: inherit;
}

.auth-card {
  overflow: hidden;
}

.auth-card .page-slider {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  z-index: 99;
  padding: 1rem;
  overflow: hidden;
  transition: all ease 0.3s;
}
.auth-card .page-slider.active {
  left: 0%;
}
.auth-card .page-slider .page-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-card .page-slider .page-content {
  background-color: white;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.table-control {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.table-control .btn {
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}

.table-control .btn i {
  font-size: small;
}

img.pasfoto {
  border-radius: 1rem;
  max-width: 10rem;
  border: 0.5rem solid white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease all;
}

img.pasfoto:hover {
  transform: scale(1.05);
}

img.pasfoto:active {
  transform: scale(0.95);
}

.pill-badges {
  padding: 0.1rem 0.75rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 1rem;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.control .progress {
  width: 4rem;
  margin: 0;
}
.control .btn-control {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  font-size: small;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  transition: all ease 0.3s;
}
.control .btn-control i {
  font-size: 1rem;
}

.control .btn-control:hover {
  filter: brightness(0.9);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}
.control .btn-control:active {
  transform: scale(0.95);
}

.control .btn-control span {
  display: none;
}
.control .btn-control.with-text {
  height: auto;
  width: auto;
  padding: 0.25rem 0.5rem;
}
.control .btn-control.with-text span {
  white-space: nowrap;
  display: block;
}

.btn-control.btn-control-small {
  font-size: 0.75rem;
  gap: 0.25rem;
}
.btn-control.btn-control-small:not(.with-text) {
  height: 1.5rem;
  width: 1.5rem;
}
.btn-control.btn-control-small i {
  font-size: 0.75rem;
}
.control .btn-control.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #d0d0d0 !important;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .table-control {
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  /* For desktop large: */
  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar:hover ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    transition: all ease-in-out 0.3s;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
  }
}

@keyframes loadingline {
  from {
    left: 0;
    right: auto;
    width: 0%;
  }

  30% {
    left: 0;
    right: auto;
    width: 100%;
  }
  31% {
    left: auto;
    right: 0;
    width: 100%;
  }

  50% {
    left: auto;
    right: 0;
    width: 0%;
  }

  75% {
    left: auto;
    right: 0;
    width: 100%;
  }
  76% {
    left: 0;
    right: auto;
    width: 100%;
  }

  to {
    left: 0;
    right: auto;
    width: 0%;
  }
}
