<div class="panel-card max">
  <div class="panel-card-header">
    <h1>Manajemen Akun Whatsapp</h1>
  </div>
  <div class="panel-card-body">
    <div class="panel-card-content">
      <div class="panel-card-content-nav">
        <div></div>
        <a role="button" class="blue-text waves-effect waves-gray btn-flat"><i class="material-icons left">add</i> Tambah Akun</a>
      </div>
      <div class="panel-card-content-body">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <table class="highlight responsive-table" id="accounts-table" width="100%"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-slider-wrapper">
      <div class="page-slider panel-card-content">
        <div class="panel-card-content-nav">
          <a role="button" class="blue-text waves-effect waves-gray btn-flat"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="panel-card-content-body">
          <h1>slider 1 content body</h1>
        </div>
      </div>
    </div>
  </div>
</div>